<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title>OSVLab</title>
</head>
<body>
<div layout:fragment="content">
    <div class="layui-container">
        <a class="layui-btn" th:href="@{~/exp/create}">新建实验</a>

        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col>
                <col width="350">
            </colgroup>
            <thead>
            <tr>
                <th>课程</th>
                <th>名称</th>
                <th>起止时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exp : ${expList}">
                <td>Linux初级</td>
                <td>
                    <a th:href="@{~/exp/{id}(id=${exp.id})}" th:text="${exp.title}">Linux基础实验</a>
                </td>
                <td>
                    <span th:text="${#temporals.format(exp.startedAt, 'yyyy-MM-dd HH:mm:ss')}">2016-11-29 11:11:11</span>
                    ~
                    <span th:text="${#temporals.format(exp.endedAt, 'yyyy-MM-dd HH:mm:ss')}">2016-11-29 11:11:11</span>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>
